@{
    Layout = null;
}

<script type="text/javascript">
    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {

        view: {
            selectedMulti: false,
            fontCss: setFontCss
        },
        async: {
            enable: true,
            dataType: 'json',
            type: 'post',
            url: "@Url.Action("GetTreeNodes")",
            autoParam: ["id","uniqueid"],
        },
        callback: {
            beforeAsync: beforeAsync,
            onAsyncSuccess: onAsyncSuccess,
            onClick: zTreeOnClick

        }
    };


    //设置文字的颜色
    function setFontCss(treeId, treeNode) {
        if (treeNode.level == 0) {
            return { 'font-weight': 'bold', 'color': 'red', 'font-family': '微软雅黑'};
        } else if (treeNode.level == 1) {
            return { 'font-weight': 'bold', 'color': 'green',  'font-family': '微软雅黑'};
        } else if (treeNode.level == 2) {
            return { 'font-weight': 'bold', 'color': 'blue', 'font-family': '微软雅黑' };
        } else {
            return {};
        }
    };

    function beforeAsync() {
        curAsyncCount++;
    };


    function onAsyncSuccess(event, treeId, treeNode, msg) {
        curAsyncCount--;
        if (curStatus == "expand") {
            expandNodes(treeNode.children);
        } else if (curStatus == "async") {
            asyncNodes(treeNode.children);
        }

        if (curAsyncCount <= 0) {
            curStatus = "";
        }
    }

    var curStatus = "init";
    var  curAsyncCount = 0;
    var goAsync = false;

    function UnExpandAll() {
        var zTree = $.fn.zTree.getZTreeObj("OgranizationTree");
        zTree.expandAll(false);
    }

    function ExpandAll() {
        if (!check()) {
            return;
        }
        var zTree = $.fn.zTree.getZTreeObj("OgranizationTree");
        expandNodes(zTree.getNodes());
        if (!goAsync) {
            curStatus = "";
        }
    };
    function expandNodes(nodes) {
        if (!nodes) return;
        curStatus = "expand";
        var zTree = $.fn.zTree.getZTreeObj("OgranizationTree");
        for (var i = 0, l = nodes.length; i < l; i++) {
            zTree.expandNode(nodes[i], true, false, false);//展开节点就会调用后台查询子节点
            if (nodes[i].isParent && nodes[i].zAsync) {
                expandNodes(nodes[i].children);//递归
            } else {
                goAsync = true;
            }
        }
    };

    function check() {
        if (curAsyncCount > 0) {
            return false;
        }
        return true;
    };

    function zTreeOnClick(event, treeId, treeNode) {
        $("#OrganizationUniqueID").val(treeNode.uniqueid);
        QueryOrganiztaion();
        QueryOrganiztaionUser();
    }


    $(document).ready(function () {
        alert("")
        zTreeObj = $.fn.zTree.init($("#OgranizationTree"), setting);

    });




</script>

<div>

    <input type="hidden" id="OrganizationUniqueID" />
    <ul id="OgranizationTree" class="ztree"></ul>
</div>




