  .input-validation-error {
    border:1px solid red;
    }
    .field-validation-error {
   
    display: inline-block !important;
    font-size: 11px; 
    padding: 4px 8px;
    color: #FFF;
    background: #B94A48;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
    margin-top:10px;
   
    }