@{
    Layout = null;
    ViewBag.Title = "Index";
}

<h2>Permission------Index</h2>


<button value="add" id="btnAdd1" class="btn btn-default">Add</button>
<script type="text/javascript">
    $(function(){
    alert("OK");
    })

</script>

