@{
    Layout = null;
}

<script type="text/javascript">
    var zTreeObjWebPermission;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var settingWebPermission = {
        view: {
            selectedMulti: false,
            fontCss: setFontCss
        },
        async: {
            enable: true,
            dataType: 'json',
            type: 'post',
            url: "@Url.Action("GetTreeNodes")",
            autoParam: ["id","uniqueid"],
        },
        callback: {
            beforeAsync: beforeAsyncWebPermission,
            onAsyncSuccess: onAsyncSuccessWebPermission,
            onClick: zTreeOnClickWebPermission

        }
    };


    //设置文字的颜色
    function setFontCss(treeId, treeNode) {
        if (treeNode.level == 0) {
            return { 'font-weight': 'bold', 'color': 'red', 'font-family': '微软雅黑'};
        } else if (treeNode.level == 1) {
            return { 'font-weight': 'bold', 'color': 'green',  'font-family': '微软雅黑'};
        } else if (treeNode.level == 2) {
            return { 'font-weight': 'bold', 'color': 'blue', 'font-family': '微软雅黑' };
        } else {
            return {};
        }
    };

    function beforeAsyncWebPermission() {
        curAsyncCountWebPermission++;
    };


    function onAsyncSuccessWebPermission(event, treeId, treeNode, msg) {
        curAsyncCountWebPermission--;
        if (curStatusWebPermission == "expand") {
            expandNodesWebPermission(treeNode.children);
        } else if (curStatusWebPermission == "async") {
            asyncNodes(treeNode.children);
        }

        if (curAsyncCountWebPermission <= 0) {
            curStatusWebPermission = "";
        }
    }

    var curStatusWebPermission = "init";
    var curAsyncCountWebPermission = 0;
    var goAsyncWebPermissionWebPermission = false;

    function UnExpandAllWebPermission() {
        var zTree = $.fn.zTree.getZTreeObj("WebPermissionTree");
        zTree.expandAll(false);
    }

    function ExpandAllWebPermission() {
        if (!checkWebPermission()) {
            return;
        }
        var zTree = $.fn.zTree.getZTreeObj("WebPermissionTree");
        expandNodesWebPermission(zTree.getNodes());
        if (!goAsyncWebPermission) {
            curStatusWebPermission = "";
        }
    };
    function expandNodesWebPermission(nodes) {
        if (!nodes) return;
        curStatusWebPermission = "expand";
        var zTree = $.fn.zTree.getZTreeObj("WebPermissionTree");
        for (var i = 0, l = nodes.length; i < l; i++) {
            zTree.expandNode(nodes[i], true, false, false);//展开节点就会调用后台查询子节点
            if (nodes[i].isParent && nodes[i].zAsync) {
                expandNodesWebPermission(nodes[i].children);//递归
            } else {
                goAsyncWebPermission = true;
            }
        }
    };

    function checkWebPermission() {
        if (curAsyncCountWebPermission > 0) {
            return false;
        }
        return true;
    };

    function zTreeOnClickWebPermission(event, treeId, treeNode) {

        alert(treeNode.uniqueid);
        //$("#OrganizationUniqueID").val();
        //QueryOrganiztaion();
        //QueryOrganiztaionUser();
    }


    $(document).ready(function () {
        zTreeObjWebPermission = $.fn.zTree.init($("#WebPermissionTree"), settingWebPermission);

    });




</script>

<div>
    <ul id="WebPermissionTree" class="ztree"></ul>
</div>




