@{
    Layout = null;
}

<script type="text/javascript">
    var zTreeObjWebFunction;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var settingWebFunction = {
        view: {
            selectedMulti: false,
            fontCss: setFontCss
        },
        async: {
            enable: true,
            dataType: 'json',
            type: 'post',
            url: "@Url.Action("GetTreeNodes")",
            autoParam: ["id","uniqueid"],
        },
        callback: {
            beforeAsync: beforeAsyncWebFunction,
            onAsyncSuccess: onAsyncSuccessWebFunction,
            onClick: zTreeOnClickWebFunction

        }
    };


    //设置文字的颜色
    function setFontCss(treeId, treeNode) {
        if (treeNode.level == 0) {
            return { 'font-weight': 'bold', 'color': 'red', 'font-family': '微软雅黑'};
        } else if (treeNode.level == 1) {
            return { 'font-weight': 'bold', 'color': 'green',  'font-family': '微软雅黑'};
        } else if (treeNode.level == 2) {
            return { 'font-weight': 'bold', 'color': 'blue', 'font-family': '微软雅黑' };
        } else {
            return {};
        }
    };

    function beforeAsyncWebFunction() {
        curAsyncCountWebFunction++;
    };


    function onAsyncSuccessWebFunction(event, treeId, treeNode, msg) {
        curAsyncCountWebFunction--;
        if (curStatusWebFunction == "expand") {
            expandNodesWebFunction(treeNode.children);
        } else if (curStatusWebFunction == "async") {
            asyncNodes(treeNode.children);
        }

        if (curAsyncCountWebFunction <= 0) {
            curStatusWebFunction = "";
        }
    }

    var curStatusWebFunction = "init";
    var curAsyncCountWebFunction = 0;
    var goAsyncWebFunctionWebFunction = false;

    function UnExpandAllWebFunction() {
        var zTree = $.fn.zTree.getZTreeObj("WebFunctionTree");
        zTree.expandAll(false);
    }

    function ExpandAllWebFunction() {
        if (!checkWebFunction()) {
            return;
        }
        var zTree = $.fn.zTree.getZTreeObj("WebFunctionTree");
        expandNodesWebFunction(zTree.getNodes());
        if (!goAsyncWebFunction) {
            curStatusWebFunction = "";
        }
    };
    function expandNodesWebFunction(nodes) {
        if (!nodes) return;
        curStatusWebFunction = "expand";
        var zTree = $.fn.zTree.getZTreeObj("WebFunctionTree");
        for (var i = 0, l = nodes.length; i < l; i++) {
            zTree.expandNode(nodes[i], true, false, false);//展开节点就会调用后台查询子节点
            if (nodes[i].isParent && nodes[i].zAsync) {
                expandNodesWebFunction(nodes[i].children);//递归
            } else {
                goAsyncWebFunction = true;
            }
        }
    };

    function checkWebFunction() {
        if (curAsyncCountWebFunction > 0) {
            return false;
        }
        return true;
    };

    function zTreeOnClickWebFunction(event, treeId, treeNode) {


        Query("@Url.Action("GridView")", { "webFunctionUniqueId": treeNode.uniqueid },"divWebFunctionGridView")

        //$("#OrganizationUniqueID").val();
        //QueryOrganiztaion();
        //QueryOrganiztaionUser();
    }


    $(document).ready(function () {
        zTreeObjWebFunction = $.fn.zTree.init($("#WebFunctionTree"), settingWebFunction);

    });




</script>

<div>
    <ul id="WebFunctionTree" class="ztree"></ul>
</div>




