
@{
    ViewBag.Title = "NotFound";

}
<link href="~/Content/NotFound/css/dandelion.css" rel="stylesheet" />
<body>
    <div id="da-wrapper" class="fluid">

        <!-- Content -->
        <div id="da-content">

            <!-- Container -->
            <div class="da-container clearfix">

                <div id="da-error-wrapper">

                    <div id="da-error-pin"></div>
                    <div id="da-error-code">
                        error <span>404</span>
                    </div>

                    <h1 class="da-error-heading">哎哟喂！页面让狗狗叼走了！</h1>
                    <p>大家可以到狗狗没有叼过的地方看看！ <a href="#" onclick="history.go(-1)">返回上一页</a></p>
                </div>
            </div>
        </div>
    </div>
</body>