@model XXGL.Base.Models.Authenticated.Account
@{
    Layout = null;
}

    <section class="content-header">
        <h1>
         Home
       <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a class="fa fa-home " style="cursor: pointer; font-size:13px"><a href="@Url.Action("Index","Home")">Home</a></a></li>
            @if (!string.IsNullOrEmpty(ViewBag.firstPageDescription))
            {
                <li><a class="fa  @ViewBag.firstPageIcon"><i>&nbsp;@ViewBag.firstPageDescription</i></a></li>
            }

            @if (!string.IsNullOrEmpty(ViewBag.secondPageDescription))
            {
                <li><a class="fa  @ViewBag.secondPageIcon"  ><i>&nbsp;@ViewBag.secondPageDescription</i></a></li>
            }

            @if (!string.IsNullOrEmpty(ViewBag.thirdPageDescription))
            {
                <li><a class="fa  @ViewBag.thirdPageIcon" ><i>&nbsp;@ViewBag.thirdPageDescription</i></a></li>
            }
        </ol>
    </section>










