@{
    Layout = null;
}
<div class="menu_section">

    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-cog"></i>人事管理<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li>  <a class="fa fa-user " style="width:auto">  &nbsp用户管理</a></li>
                <li>
                    <a class="fa fa-users " style="width:auto" href="#">&nbsp角色管理</a>

                </li>
                <li>
                    <a href="#">用户权限查看</a>
                </li>

            </ul>
        </li>
    </ul>


    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-sitemap"></i>微信公众平台<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#">公众号管理</a>
                <li>
                    <a href="#">自动回复</a>

                </li>
                <li>
                    <a href="#">菜单设置</a>
                </li>

            </ul>
        </li>
    </ul>
</div>